<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='petPages/css/pet.css') }}">
    <title>Edit Pet Information</title>
</head>

<body>
    {% include '/components/header.html' %}
    <div class="main-container">
        <h1>Edit Pet Information</h1>
        {% include '/components/flashMsg.html' %}
        <div class="pet-form-container">
            <form action="" method="POST" class="pet-form">
                <input type="text" name="PetName" value="{{ pet['PetName'] }}" required /> </br>
                <select name="PetType" required>
                    {% for petType in petTypes %}
                    {% if petType.PetType == pet['PetType']%}
                    <option value="{{ petType.PetType }}" selected>{{ petType.PetType }}</option>
                    {% else %}
                    <option value="{{ petType.PetType }}">{{ petType.PetType }}</option>
                    {% endif %}
                    {% endfor %}
                </select> </br>
                <select name="PetSize" required>
                    <option value="{{ pet['PetSize'] }}" selected>{{ pet['PetSize'] }}</option>
                    <option value="Large">Large</option>
                    <option value="Medium">Medium</option>
                    <option value="Small">Small</option>
                </select> </br>
                <input type="submit" value="Update Pet" />
            </form>
        </div>
    </div>
</body>

</html>