<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='petPages/css/myPets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <title>My Pets</title>
</head>

<body>
    {% include '/components/header.html' %}
    <div class="main-container">
        <h1>{{username}}'s Pets</h1>
        {% include '/components/flashMsg.html' %}
        <table>
            <thead>
                <tr>
                    <th>Pet Name</th>
                    <th>Pet Type</th>
                    <th>Pet Size</th>
                    <th>Edit Info</th>
                </tr>
            </thead>
            <tbody>
                {% for pet in pets %}
                <tr>
                    <td>{{ pet.PetName }}</td>
                    <td>{{ pet.PetType }}</td>
                    <td>{{ pet.PetSize }}</td>
                    <td>
                        <a href="/editPetInfo/{{ pet.PetName }}/{{ pet.PetType }}" class="table-button">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>